* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* HEADER */
.navfix {
  height: 200px;
  background: lightgrey;
}
/* RIGA 1 */
.lingua::after {
  content: '';
  display: table;
  clear: both;
}

.tendina {
  height: 50px;
  width: 50px;
  background: red;
  float: left;
}

.contactus {
  height: 50px;
  width: 50px;
  background: blue;
  float: left;
}

.row1 {
  position: relative;
  margin-bottom: 20px;
}

.search {
  height: 50px;
  width: 50px;
  background: green;
  position: absolute;
  top: 0;
  right: 100px
}

.login {
  height: 50px;
  width: 50px;
  background: purple;
  position: absolute;
  top: 0;
  right: 50px
}

.getfree {
  height: 50px;
  width: 50px;
  background: yellow;
  position: absolute;
  top: 0;
  right: 0;
}
/* RIGA 2 */
.row2 {
  position: relative;
}

.logo-row2 {
  height: 50px;
  width: 50px;
  background: yellow;
}

.tendina-row2 {
  position: absolute;
  top: 0;
  right: 0;
}
/* selettori tendina row2 */
.tendina-row2 li {
  list-style: none;
  display: inline-block;
}
/* SEZIONE 1 */
.sezione1::after {
  content: '';
  display: table;
  clear: both;
}

.sezione1 {
  height: 300px;
  width: 100%;
}
.col-sez1-sx {
  height: 300px;
  width: 50%;
  background: lightblue;
  float: left;
}

.col-sez1-dx {
  height: 300px;
  width: 50%;
  background: orange;
  float: left;
}
/* SEZIONE 2 */
.img-sez2 {
  height: 100px;
  width: 100px;
  background: red;
  display: block;
  margin-left: 50%;
  transform: translateX(-50%);
}

.text-sez2 {
  height: 100px;
  width: 300px;
  background: lightblue;
  display: block;
  margin-left: 50%;
  transform: translateX(-50%);
  text-align: center;
}
/* MIDDLE SEZIONE 2 */
.mid-sez2 {
  height: 200px;
  width: 40%;
  background: lightgrey;
  margin: 0 auto;
}

.mid-sez2 {
  content: '';
  display: table;
  clear: both;
}

.midmid-sez2 {
  height: 100px;
  width: 100px;
  background: yellow;
  float: left;
}

.txt-mid-sez2 {
  height: 100px;
  width: 200px;
  background: green;
  float: left;
}
/* 3 COLONNE SEZIONE 2 */
.col-sez2::after {
  content: '';
  display: table;
  clear: both;
}
.col-sez2 {
 height: 600px;
 width: 100%;
 background: blue;
 text-align: center;
 padding: 0 20%;
}

.col-sx-sez2 {
  height: 400px;
  width: 20%;
  background: lightgrey;
  float: left;
}

.col-cntr-sez2 {
  height: 400px;
  width: 20%;
  background: lightgrey;
  float: left;
  margin: 0 5%;
}

.col-dx-sez2 {
  height: 400px;
  width: 20%;
  background: lightgrey;
  float: left;

}
/* INTERNO DELLE COLONNE */
/* colonna sx */
.immcol-sx-sez2 {
  height: 100px;
  width: 100px;
  background: red;
}

.txtcol-sx-sez2 {
  height: 100px;
  width: 100px;
  background: green;
}

.btncol-sx-sez2 {
  height: 100px;
  width: 100px;
  background: yellow;
}
/* colonna cntr */
.immcol-cntr-sez2 {
  height: 100px;
  width: 100px;
  background: red;
}

.txtcol-cntr-sez2 {
  height: 100px;
  width: 100px;
  background: green;
}

.btncol-cntr-sez2 {
  height: 100px;
  width: 100px;
  background: yellow;
}
/* colonna dx */
.immcol-dx-sez2 {
  height: 100px;
  width: 100px;
  background: red;
}

.txtcol-dx-sez2 {
  height: 100px;
  width: 100px;
  background: green;
}

.btncol-dx-sez2 {
  height: 100px;
  width: 100px;
  background: yellow;
}
/* SEZIONE 3 */
.sezione3 {
  height: 400px;
  width: 100%;
  background: lightgrey;
  text-align: center;
}

.txt-sez3 {
  height: 50px;
  width: 500px;
  background: orange;
  display: block;
  margin-left: 50%;
  transform: translateX(-50%);
}

.sottotxt-sez3 {
  height: 50px;
  width: 500px;
  background: green;
  display: block;
  margin-left: 50%;
  transform: translateX(-50%);
}
/* GRIGLIA */
.griglia {
  height: 100px;
  width: 100px;
  background: yellow;
  display: inline-block;
  margin: 5px;
}
/* SEZIONE 4 */
