* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.clearfix::after {
  content: '';
  display: table;
  clear: both;
}

.contenitore {
  width: 1300px;
  margin: 0 auto;
}

.bot-head1:hover,
.bot-head2:hover,
.bot-sez1:hover,
.btn-mid-sez2:hover,
.btncol-sx-sez2:hover,
.btncol-cntr-sez2:hover,
.btncol-dx-sez2:hover,
.bot-sez4:hover {
  background-color: rgba(254, 119, 90, 0.3);
  cursor: pointer;
}
                                                    /* HEADER */
header {
  line-height: 80px;
  width: 100%;
  background: #f4f9fd;
  border-bottom: 2px solid #32495b;
  position: fixed;
  top: 0;
  z-index: 10;
}

header a,
.linkheader a,
header i,
.linkheader i  {
    color: #32495b;
}

.navsx {
  width: 50%;
  text-align: left;
  float: left;
}

.navsx a:last-child {
  margin-left: 20px;
  padding-left: 20px;
  border-left: 2px solid #899397
}

.navdx {
  width: 50%;
  text-align: right;
  float: left;
}

.navsx li,
.navdx li {
  display: inline-block;
}

.navdx i {
  color: #00A4BD;
  margin-right: 20px;
}

.bot-head1 a {
  color: #fe775a;
  font-size: 20px;
}

.bot-head1 {
  line-height: 20px;
  width: 150px;
  border-radius: 5px;
  border: 2px solid #fe775a;
  padding: 10px;
  margin:0 15px;
  text-align: center;
  background: #ffffff;
}

.bot-head2 a {
  color: #ffffff;
  font-size: 20px;
}

.bot-head2 {
  line-height: 20px;
  width: 200px;
  border-radius: 5px;
  border: 2px solid #fe775a;
  padding: 10px;
  text-align: center;
  background: #fe775a;
}
                                          /*SECONDA RIGA LOGO E LINK */
.linkheader {
  margin-top: 80px;
  line-height: 80px;
}

.link-hsx,
.link-hdx {
  float: left;
}

.link-hsx {
  width: 50%;
  text-align: left;
}

.link-hsx img {
  vertical-align: middle;
}

.link-hdx {
  width: 50%;
  text-align: right;
}

.link-hdx li {
  display: inline-block;
  margin-left: 15px;
}
                                                /* SEZIONE 1 */
.sezione1 {
  height: 700px;
  width: 100%;
  background: #fff4ef;
  background-image: url("../img/jumbotron.png");
  background-position: right bottom;
  background-repeat: no-repeat;
  position: relative;
}

.col-sez1 {
  width: 70%;
  text-align: left;
  padding: 100px 300px;
  line-height: 30px;
  float: left;
}

.col-sez1 h1 {
  color: #32495b;
  font-size: 50px;
  margin-bottom: 20px;
}

.col-sez1 p {
  color: #32495b;
  font-size: 20px;
  padding: 30px 0;
}

.col-sez1 p:last-child {
  color: #32495b;
  font-size: 12px;
}

.bot-sez1 a {
  color: #ffffff;
  font-size: 15px;
}

.bot-sez1 {
  width: 200px;
  border-radius: 5px;
  border: 2px solid #fe775a;
  padding: 15px;
  text-align: center;
  background: #fe775a;
}

.coprisfondo {
  height: 90px;
  width: 100%;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  background: #afebe4;
  position: absolute;
  bottom: 0;
}
                                              /* SEZIONE 2 */
.sezione2 {
  background-color: #f4f9fd;
  width: 100%;
  text-align: center;
  color :color: #32495b;
  padding-top: 50px;
}

.img-sez2 {
  height: 300px;
  width: 400px;
  background-image: url("../img/Integrations_Illustration.webp");
  background-size: cover;
  display: block;
  margin: 0 auto 20px;
  position: translateX(-200px);
}

.text-sez2 {
  color: #32495b;
  margin-left: 50%;
  transform: translateX(-50%);
  margin-bottom: 50px;
  font-size: 40px;
}

.sezione2 p {
  color: #32495b;
  width: 50%;
  margin-left: 50%;
  transform: translateX(-50%);
  font-size: 18px;
  line-height: 30px;
  margin-bottom: 50px;
}
                                            /* MIDDLE SEZIONE 2 */
.mid-sez2 {
  width: 1300px;
  border-radius: 5px;
  background: #ffffff;
  margin: 0 300px;
  padding:50px 100px;
  box-shadow: 0 0 4px black;
}

.midmid-sez2 {
  height: 200px;
  width: 200px;
  float: left;
}

.btn-mid-sez2 a {
  color: #ffffff;
  font-size: 20px;
}

.btn-mid-sez2 {
  width: 200px;
  border-radius: 5px;
  border: 2px solid #fe775a;
  padding: 15px;
  margin-top: 30px;
  text-align: center;
  background: #fe775a;
}

.txt-mid-sez2 {
  width: 800px;
  float: right;
  text-align: left;
  padding-left: 200px;
  line-height: 40px;
}

.txt-mid-sez2 h2,
.txt-mid-sez2 span,
.txt-mid-sez2 a {
  color: #32495b;
}

.txt-mid-sez2 > h2 {
  font-size: 40px;
  margin-bottom: 15px;
}

.txt-mid-sez2 li {
  display: inline;
}

#boh {
  height: 50px;
  width: 100%;
}

#boh::after {
  content: '';
  display: table;
  clear: both;
}

#boh h2 {
  font-size: 20px;
  width: 40%;
  float: left;
  display: inline-block;
}

#boh hr {
  line-height: 50px;
  width: 60%;
  color: #32495b;
  margin-top: 19px;
  float: left;
  display: inline-block;
}

.txt-mid-sez2 i {
  color: #fe775a;
  margin-right: 10px;
}

.txt-mid-sez2 a {
  color: #32495b;
  margin-right: 10px;
}
                                            /* 3 COLONNE SEZIONE 2 */
.col-sez2 {
 width: 100%;
 background: #f4f9fd;
 text-align: center;
 padding: 50px 300px 50px;
 margin-top: 5px;
}

.col-sx-sez2 {
  height: 900px;
  width: 400px;
  background: #ffffff;
  float: left;
  border-radius: 5px;
  color: #32495b;
  padding: 0 30px;
  box-shadow: 0 0 4px black;
}

.col-cntr-sez2 {
  height: 900px;
  width: 400px;
  background: #ffffff;
  float: left;
  border-radius: 5px;
  color: #32495b;
  margin: 0 50px;
  padding: 0 30px;
  box-shadow: 0 0 4px black;
}

.col-dx-sez2 {
  height: 900px;
  width: 400px;
  background: #ffffff;
  float: left;
  border-radius: 5px;
  color: #32495b;
  padding: 0 30px;
  box-shadow: 0 0 4px black;
}
                                           /* INTERNO DELLE COLONNE SEZ 2 */
                                                   /* colonna sx */
.immcol-sx-sez2 {
  width: 150px;
  margin-left: 50%;
  transform: translate(-50%);
  margin-top: 50px;
}

.txtcol-sx-sez2 h2 {
  margin: 30px 0 30px;
}

.txtcol-sx-sez2 li {
  text-align: left;
}

.txtcol-sx-sez2 i {
  color: #fe775a;
  margin-right: 15px;
}

.txtcol-sx-sez2 a {
  color: #32495b;
}

.btncol-sx-sez2 a {
  color: #ffffff;
  font-size: 20px;
}

.btncol-sx-sez2 {
  width: 200px;
  border-radius: 5px;
  border: 2px solid #fe775a;
  padding: 15px;
  margin-top: 50px;
  margin-left: 50%;
  transform: translateX(-50%);
  text-align: center;
  background: #fe775a;
}
                                                /* colonna cntr */
.immcol-cntr-sez2 {
  width: 150px;
  margin-left: 50%;
  transform: translate(-50%);
  margin-top: 50px;
}

.txtcol-cntr-sez2 h2 {
  margin: 30px 0 30px;
}

.txtcol-cntr-sez2 li {
  text-align: left;
}

.txtcol-cntr-sez2 i {
  color: #fe775a;
  margin-right: 15px;
}

.txtcol-cntr-sez2 a {
  color: #32495b;
}

.btncol-cntr-sez2 a {
  color: #ffffff;
  font-size: 20px;
}

.btncol-cntr-sez2 {
  width: 200px;
  border-radius: 5px;
  border: 2px solid #fe775a;
  padding: 15px;
  margin-top: 50px;
  margin-left: 50%;
  transform: translateX(-50%);
  text-align: center;
  background: #fe775a;
}
                                                   /* colonna dx */
.immcol-dx-sez2 {
  width: 108px;
  margin-left: 50%;
  transform: translate(-50%);
  margin-top: 50px;
}

.txtcol-dx-sez2 h2 {
  margin: 30px 0 30px;
}

.txtcol-dx-sez2 li {
  text-align: left;
}

.txtcol-dx-sez2 i {
  color: #fe775a;
  margin-right: 15px;
}

.txtcol-dx-sez2 a {
  color: #32495b;
}

.btncol-dx-sez2 a {
  color: #ffffff;
  font-size: 20px;
}

.btncol-dx-sez2 {
  width: 200px;
  border-radius: 5px;
  border: 2px solid #fe775a;
  padding: 15px;
  margin-top: 50px;
  margin-left: 50%;
  transform: translateX(-50%);
  text-align: center;
  background: #fe775a;
}
                                                   /* SEZIONE 3 */
.sezione3 {
  height: 1000px;
  width: 100%;
  background-image: linear-gradient(to right, #00a7bb, #00baa9);
  text-align: center;
}

.txt-sez3 {
  width: 1300px;
  display: block;
  margin-left: 50%;
  transform: translateX(-50%);
  color: #ffffff;
  font-size: 28px;
  padding-top: 50px;
}

.sottotxt-sez3 {
  width: 1300px;
  display: block;
  margin-left: 50%;
  transform: translateX(-50%);
  color: #ffffff;
  padding: 20px 0 50px;
  line-height: 30px;
}
                                                 /* GRIGLIA  SEZ 3*/
.row1-sez3,
.row2-sez3 {
  margin-left: 300px;
}

.griglia {
  height: 300px;
  width: 324px;
  float: left;
  display: inline-block;
  line-height: 70px;
  text-align: center;
  font-size: 30px;
  padding: 20px;
  color: #ffffff;
  border-right: 1px solid #ffffff;
  border-bottom: 1px solid #ffffff;
}

.griglia h5 {
  font-size: 15px;
}

.row1-sez3 .griglia:last-child,
.row2-sez3 .griglia:last-child {
  border-right: none;
}

.row2-sez3 .griglia {
  border-bottom: none;
}
                                                    /* SEZIONE 4 */
.sezione4 {
  width: 100%;
  color: #32495b;
  padding-left: 300px;
}

.col-sx-sez4 {
  height: 800px;
  width: 30%;
  background: #ffffff;
  float: left;
  line-height: 30px;
}

.txt-col-sx-sez4 {
  margin-left: 50%;
  transform: translateX(-50%);
  padding: 50px 0 50px;
}

.txt-col-sx-sez4 h2 {
  font-size: 50px;
  margin-bottom: 50px;
}

.txt-col-sx-sub-sez4 h3 {
  font-size: 35px;
  margin-bottom: 50px;
}

.txt-col-sx-sub-sez4 p:last-child {
  font-size: 12px;
}

.bot-sez4 a {
  color: #ffffff;
  font-size: 15px;
}

.bot-sez4 {
  width: 200px;
  border-radius: 5px;
  border: 2px solid #fe775a;
  padding: 15px;
  text-align: center;
  background: #fe775a;
  margin: 50px 0 50px;
}

.col-dx-sez4 {
  height: 800px;
  width: 70%;
  background: #ffffff;
  padding-right: 300px;
  float: left;
}

.griglia4 {
  line-height: 50px;
  width: 25%;
  padding: 30px;
  float: left;
}

.griglia4 img {
  max-height: 100%;
  max-width: 100%;
  vertical-align: middle;
}

.img-sez4 {
  line-height: 100%;
  width: 100%;
  text-align: right;
}

.img-sez4 img {
  height: 500px;
  width: 400px;
  margin-left: 60%;
}
                                                   /* SEZIONE 5 */
.sezione5 {
  height: 500px;
  width: 100%;
  background: #32495b;
  padding-left: 300px;
  text-align: left;
  color: #ffffff;
  line-height: 40px;
}

.sezione5 h5 {
  font-size: 20px;
  margin: 20px 0 20px;
}

.sezione5 a {
  color: #DADEE0;
  font-size: 20px;
}

.col-sx-sx-sez5 {
  height: 400px;
  width: 20%;
  float: left;
  margin-right: 30px;
}

.col-sx-sez5 {
  height: 400px;
  width: 20%;
  float: left;
  margin-right: 30px;
}

.col-dx-sez5 {
  height: 400px;
  width: 20%;
  float: left;
  margin-right: 30px;
}

.col-dx-dx-sez5 {
  height: 400px;
  width: 20%;
  float: left;
  margin-right: 30px;
}

.bot-sez5 a {
  color: #32495b;
  font-size: 18px;
}

.bot-sez5 {
  height: 50px;
  width: 250px;
  border-radius: 5px;
  border: 2px solid #ffffff;
  text-align: center;
  background: #DADEE0;
  padding: 5px;
  margin: 30px 0 30px;
}

.bot-sez5:hover {
  background-color: rgba(218, 222, 224, 0.3);
  cursor: pointer;
}

.social li {
  float: left;
  margin-right: 40px;
}
                                                 /* FOOTER */
footer {
  height: 250px;
  width: 100%;
  background: #32495b;
}

.foot-top {
  width: 100%;
  text-align: center;
  color: #DADEE0;
  padding:0 300px;
}

.foot-top li {
  display: inline-block;
  padding: 15px 30px 15px;
}

.foot-top a {
  color: #DADEE0;
}

.foot-sub {
  line-height: 40px;
  width: 100%;
  padding:0 300px;
  position: relative;
}

.foot-sub img {
  height: 100%;
  width: 200px;
  text-align: left;
  padding-top: 50px;
  margin-left: 0;
}

.foot-sub h3 {
  color: #ffffff;
}

.colsx-fot {
  width: 50%;
  float: left;
}

.coldx-fot {
  line-height: 150px;
  width: 50%;
  float: left;
  text-align: right;
}

.foot-sub a {
  color: #DADEE0;
  margin-left: 30px;
}
